# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Production
/build

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Drizzle
drizzle/migrations/meta/
